*{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .top{
    width: 478px;
  
    height: 340px;
    margin:  0 auto;
  }
  .topone{
    width: 90%;
    height: 50px;
    /* background: #000; */
    margin: 0 auto;
  }
  .topone> li{
    float: left;
    margin-left: 60px;
  }
  .toptwo> li a{
    color: #000;
  }
  .topone> li a{
    color: #000;
  }
  .top img{
    margin-top: 50px;
    margin-left: 70px;
   
  }
  .toptwo{
    width:100% ;
    margin-top: 50px;
    height: 50px;
  }
  .toptwo li{
      float: left;
    margin-left: 40px;
  }
  .top button{
    width: 326px;
    height: 46px;
    background: #000;
   margin-left: 80px;
   color: #fff;
  }


.contain{
    width: 1166px;
    height: 3000px;
    margin: 50px auto;
}
.contain >.left{
    width: 753px;

    height: 100%;
    float: left;
}
.contain> .left .content{
    width: 753px;
    height: 1030px;
    padding-top: 30px;
    box-sizing: border-box;
    }
.contain> .left .content h3{
    font-size: 20px;
    text-align: center;
}
.contain> .left .content h1{
    font-size: 33px;
    text-align: center;
    margin-top: 20;
    margin-top: 15px;
}
.contain> .left .content span{
display: block;
font-size: 16px;
text-align: center;
margin-top: 15px;
margin-bottom: 20px;

}
.contain> .left .content p{
    font-size: 14px;
    margin-top: 20px;
}
.contain> .left .content .a{
    display:inline-block;
    width: 243px;
    height: 43px;
    background: url('../images/Rectangle\ 2.png') ;
    background-size: contain;
    margin-top: 25px;

}
.contain> .left .content .leftin{
    width: 300px;
    height: 43px;
    float: right;
    margin-top: 30px;
    /* padding-top: 20px; */
}
.contain> .left .content .leftin span{
    font-size: 14px;
    float: left;
    vertical-align: middle;
}
.contain> .left .content .leftin img{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    vertical-align: middle;

   
    
}
.comment{
    width: 100%;
    height: 135px;
    margin-top: 150px;
    position: relative;
}
.comment img{
    position: absolute;
    left: 20px;
    top: 30px;
}
.comment h2{
    position: absolute;
    left: 150px;
    top: 30px;
    font-size: 20px;
}
.comment p{
    position: absolute;
    left: 150px;
    top: 60px;
    font-size: 15px;
}
.show{
    width: 100%;
    height: 310px;
    margin-top: 50px;
}
.show h4{
    font-size: 18px;
    color: rgb(66, 66, 66);
}
.show ul{
    width: 100%;
    height: 260px;
    margin-top: 35px;
}
.show ul li{
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 3%;
}
.show ul li p{
    font-size: 15px;
    text-align: center;
}
.show ul li h1{
    font-size: 20px;
    text-align: center;
}
.com{
    width: 100%;
    height: 710px;
    margin-top: 100px;
}
.com h1{
    font-size: 20px;
    text-align: center;
}
.com ul{
    width: 100%;
    height: 640px;
    margin-top: 50px;
}
.com ul li{
    width: 100%;
    height: 160px;
    border-bottom: 1px solid rgb(141, 141, 141);
    position: relative;

}
.com ul li img{
    position: absolute;
    left: 0;
    top: 40px;
}
.com ul li h2{
    position: absolute;
    left: 130px;
    top: 40px;
    font-size: 20px;
}
.com ul li small{
    position: absolute;
    left: 130px;
    top: 70px;
    font-size: 13px;
}
.com ul li p{
    position: absolute;
    left: 130px;
    top: 90px;
    font-size: 15px;
}
form{
    width: 100%;
    height: 365px;
    margin-top: 100px;
}
form h2{
    font-size: 20px;
    color: rgb(129, 129, 129);
    margin-bottom: 30px;
}
form input{
width: 358px;
height: 66px;
border: 1px solid #eee;
margin-right: 10px;
}
form textarea{
    width: 98%;
height: 120px;
border: 1px solid #eee;
margin-top: 30px;
}
form  button{
    width: 195px;
    height: 50px;
    background: rgb(199, 199, 199);
    float: right;
    border-radius: 50px;
    border: 1px solid rgb(199, 199, 199);
    margin-top: 20px;
}





.contain .ul li .nav .right{
    float: right;
}
.contain .ul li .nav .right p{
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.contain> .right{
width: 280px;
height: 2894px;
float: right;
margin-top: 20px;
}
.contain> .right button{
    width: 100%;
    height: 47px;
    background: #000;
    color: #fff;
    border:1px solid #000;
}
.contain> .right>img{
    width: 100%;
    height: 195px;
}
.contain> .right>p{
text-align: center;
margin-top: 20px;
font-size: 14px;
}
.icon{
    width: 100%;
    height: 136px;
    background: #fff;
}
.icon img{
    width: 35px;
    height: 35px;
    margin-left: 15px;
    margin-top: 40px;
}
.right .img{
    width: 100%;
    height: 280px;
    margin-top: 30px;
}
.right .img li{
    float: left;
    margin-left: 3px;
}
.right .write{
    width: 100%;
    height: 280px;
}
.right .write li{
    margin-top: 20px;
    height: 50px;
}
.right .write p{
    font-size: 14px;

}
.right .write span{
    font-size: 13px;
    color: rgb(95, 78, 248);
}
.right .list{
    width: 100%;
    height: 490px;
    box-shadow: 0px 1px #eee;
 

}
.right .list li{
   position: relative;
   width: 100%;
   height: 126px;
}
.right .list img{
   
    position: absolute;
    left: 10px;
    top: 30px;

}
.right .list p{
   position: absolute;
    width: 160px;
    left: 120px;
    top: 30px;
   
}
.right .list span{
    position: absolute;
    left: 120px;
    top: 85px;
}
.right .icons button{
    display: inline-block;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background: rgb(60, 68, 85);
    color: #fff;
    border: 1px solid  rgb(60, 68, 85);
    line-height: 30px;
    font-size: 13px;
  margin-top: 20px;
    text-align: center;
   
}
.foot{
    width: 100%;
    height: 180px;
    margin-top: 150px;
  }
 
  .foot ul li{
    width: 16.6%;
    height: 100%;
    float: left;
  }
  .foot ul li img{
    width: 100%;
    height: 200px;
  }
  .foot{
    width: 100%;
    height: 180px;
    margin-top: 150px;
    position: relative;
    overflow: hidden;
  }
  .foot ul{
    position: absolute;
    /* overflow: hidden; */
    top: 0;
    left: 0;

  }
  .foot ul li{
    width: 16%;
    height: 100%;
    float: left;
   
  }
  .foot ul li img{
    width: 100%;
    height: 200px;
  }